// =========================================
//  Mixins
// =========================================

// Images
@mixin display ($margin-top: null, $max-width: null) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: $margin-top;
    max-width: $max-width; 
}

// Buttons
@mixin buttons($clr) {
    background-color: $clr;

    &:hover {
        background-color: lighten($clr, 15%);
        transition: background-color .75s;
        cursor: pointer;
    }
}

// Media Queries
@mixin mq {
    @media (min-width: 768px){
        @content
    }
}