// =========================================
//  Buttons
// =========================================

%btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }

.btn {
  &-default {
    @extend %btn;
    background-color: $color-primary;
  }
  
  &-error {
    @extend %btn;
    background-color: $color-error;
  }
  
  &-info {
    @extend %btn;
    background-color: $color-info;
  }
  
  &-success {
    @extend %btn;
    background-color: $color-success;
  }
  
  &-warning {
    @extend %btn;
    background-color: $color-warning;
  }
}

.btn {
  &-default:hover {
    @extend %btn;
    background-color: $color-primary-light;
    transition: background-color .5s;
  }
  
  &-error:hover {
    @extend %btn;
    background-color: $color-error-light;
    transition: background-color .5s;
  }
  
  &-info:hover {
    @extend %btn;
    background-color: $color-info-light;
    transition: background-color .5s;
  }
  
  &-success:hover {
    @extend %btn;
    background-color: $color-success-light;
    transition: background-color .5s;
  }
  
  &-warning:hover {
    @extend %btn;
    background-color: $color-warning-light;
    transition: background-color .75s;
  }
}