// =========================================
//  Buttons
// =========================================

%btn {
    margin-top: 15px;
    width: 100%;
    color: $white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }

.btn {
  &-default {
    @extend %btn;
    @include buttons($color-primary);
  }
  
  &-error {
    @extend %btn;
    @include buttons($color-error);
  }
  
  &-info {
    @extend %btn;
    @include buttons($color-info);
  }
  
  &-success {
    @extend %btn;
    @include buttons($color-success);
  }
  
  &-warning {
    @extend %btn;
    @include buttons($color-warning);
  }
}